{%extends "base.html"%}
{%block container%}

	<div class="container">
		<h1>Bienvenido...!!!		
		<div class="row">
				<div class="col-xs-1asd0"></div>
				<div class="col-xs-12 tamañoslide3 ">
		        	<section id="miSlide" class="carousel slide">    
		                <div class="carousel-inner">
		                    <div class="item active">
		                        <img src="/media/img/img1.jpg" class="adaptar">
		                    </div>
		                    <div class="item">
		                        <img src="/media/img/img2.jpg" class="adaptar">
		                    </div>
		                    <div class="item">
		                        <img src="/media/img/img3.jpg" class="adaptar">
		                    </div>
		                    <div class="item">
		                        <img src="/media/img/img4.jpg" class="adaptar">
		                    </div>
		                </div>
		                <a href="#miSlide" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		                <a href="#miSlide" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	            	</section>
		        </div>
		</div><br>
		<h3>Ingrese y atrevete a medir tus conocimientos en lo mejor de :</h3>
	</div>
<style type="text/css">
	.tamañoslide3{
		border-radius: 50px;
		width: 300px;
		height: 200px;
		margin-left: -100px;
		margin-top: 20px;
	}
	h1{
		font-family: "Homer Simpson", cursive; 
		color: white;
	}
	h3{
		font-family: "Homer Simpson", cursive; 
		color: white;
	}
	.imagenes img{
		height: 300px;
		width: 400px;


	}
</style>

{%endblock%}